<% include ./header %>
<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
	<form method="POST" action="/staff/location">
		<input  type="hidden" name="id" value="<%= results[0]._id %>">
		<div class="form-group">
			<label>Name</label>
			<input  class="form-control" type="text" name="name" value="<%= results[0].name %>" required>
		</div>
		<div class="form-group">
			<label>Address</label>
			<input  class="form-control" type="text" name="address" value="<%= results[0].address %>" required>
		</div>
		<div class="form-group">
			<label>City</label>
			<input  class="form-control" type="text" name="city" value="<%= results[0].city %>" required>
		</div>
		<div class="form-group">
			<label>Zip Code</label>
			<input  class="form-control" type="text" name="zipCode" value="<%= results[0].zipCode %>" required>
		</div>
		<div class="form-group">
			<label>Phone</label>
			<input  class="form-control" type="text" name="phone" value="<%= results[0].phone %>" required>
		</div>
		<div class="form-group">
		    <label>Work Hours</label>
		    
		    <label>Monday</label>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="monday" value="<%= results[0].workHours.monday.open %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="monday" value="<%= results[0].workHours.monday.close %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			
			<label>Tuesday</label>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="tuesday" value="<%= results[0].workHours.tuesday.open %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="tuesday" value="<%= results[0].workHours.monday.close %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			
			<label>Wednesay</label>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="wednesday" value="<%= results[0].workHours.wednesday.open %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="wednesday" value="<%= results[0].workHours.wednesday.close %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			
			<label>Thursday</label>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="thursday" value="<%= results[0].workHours.thursday.open %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="thursday"  value="<%= results[0].workHours.thursday.close %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			
			<label>Friday</label>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="friday" value="<%= results[0].workHours.friday.open %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="friday" value="<%= results[0].workHours.friday.close %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			
			<label>Saturday</label>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="saturday" value="<%= results[0].workHours.saturday.open %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="saturday" value="<%= results[0].workHours.saturday.close %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			
			<label>Sunday</label>
			<div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="sunday" value="<%= results[0].workHours.sunday.open %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class='input-group date datetimepicker'>
                <input type='text' class="form-control" name="sunday" value="<%= results[0].workHours.sunday.close %>" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
		</div>
		<button class="btn-primary">Update</button>
	</form>
</div>
<!--End Content-->
<% include ./footer %>

<script type="text/javascript">
    $(function () {
        $('.datetimepicker').datetimepicker({
            format: 'HH:mm'
        });
    });
</script>
