<% include ./header %>
<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
        <div class="form-group">
			<label>User</label>
			<input class="form-control" type="text" name="username" value="<%= results[0].user.username %>" disabled>
		</div>
		<div class="form-group">
			<label>First Name</label>
			<input class="form-control" type="text" name="firstName" value="<%= results[0].user.firstName %>" disabled>
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input class="form-control" type="text" name="lastName" value="<%= results[0].user.lastName %>" disabled>
		</div>
		<div class="form-group">
			<label>Location</label>
			<input class="form-control" type="text" name="locationName" value="<%= results[0].location.name %>" disabled>
		</div>
		<div class="form-group">
			<label>Total</label>
			<input class="form-control" type="text" name="total" value="<%= results[0].total %> kn" disabled>
		</div>
		<div class="form-group">
			<label>Date Finished</label>
			<input class="form-control" type="text" name="dateFinished" value="<%= results[0].dateFinished %>" disabled>
		</div>
		<div class="form-group">
			<label>Date Created</label>
			<input class="form-control" type="text" name="dateCreated" value="<%= results[0].dateCreated %>" disabled>
		</div>
		<div class="form-group">
			<label>Pizzas</label>
			<input class="form-control" type="text" name="pizzas" value="<% results[0].items[0].forEach((pizza) => { %><%- pizza.name + ' ' %><% }) %>" disabled>
			<label>Drinks</label>
			<input class="form-control" type="text" name="drinks"  value="<% results[0].items[1].forEach((drink) => { %><%- drink.name + ' ' %><% }) %>" disabled>
		</div>
		<% if (results[0].deliveryLocation && results[0].deliveryLocation.address) { %>
			<div class="form-group">
				<label>Delivery Location</label>
				<input class="form-control" type="text" name="deliveryLocation" value="<%= results[0].deliveryLocation.address %>, <%= results[0].deliveryLocation.city %>" disabled>
			</div>
		<% } %>
</div>
<!--End Content-->
<% include ./footer %>
