<% include ./header %>
<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
        <div class="form-group">
			<label>Username</label>
			<input type="text" name="firstName" value="<%= results[0].user.username %>" disabled>
		</div>
		<div class="form-group">
			<label>First Name</label>
			<input type="text" name="firstName" value="<%= results[0].user.firstName %>" disabled>
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" name="lastName" value="<%= results[0].user.lastName %>" disabled>
		</div>
		<div class="form-group">
			<label>Location</label>
			<input type="text" name="email" value="<%= results[0].location.name %>" disabled>
		</div>
		<div class="form-group">
			<label>Total</label>
			<input type="text" name="email" value="<%= results[0].total %> kn" disabled>
		</div>
		<div class="form-group">
			<label>Date Finished</label>
			<input type="text" name="email" value="<%= results[0].dateFinished %>" disabled>
		</div>
		<div class="form-group">
			<label>Date Created</label>
			<input type="text" name="email" value="<%= results[0].dateCreated %>" disabled>
		</div>
		<div class="form-group">
			<label>Items</label>
			<input type="text" name="email" value="<%= results[0].items %>" disabled>
		</div>
		<% if (results[0].deliveryLocation.address) { %>
			<div class="form-group">
				<label>Delivery Location</label>
				<input type="text" name="email" value="<%= results[0].deliveryLocation.address %>, <%= results[0].deliveryLocation.city %>" disabled>
			</div>
		<% } %>
</div>
<!--End Content-->
<% include ./footer %>
