<% include ./header %>
<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
	<h4><b>Upcoming Orders</b></h4>
	<table class="table table-hover" style="margin-top: 2%">
	    <thead>
	    	<tr>
				<th>#ID</th>
				<th>Date Finished</th>
		        <th>Pizza</th>
		        <th>Drink</th>
				<th>Total</th>
				<th>Date Created</th>
	      	</tr>
	    </thead>
	    <tbody>
	    	<% orders.forEach((order, i) => { %>
	    		<% if (((user.location && order.location._id == user.location._id) || !user.location) && (order.dateFinished > today)) { %>
		    		<tr>
		    			<td>
							<%= order._id %>
						</td>
						<td>
							<%= order.dateFinished %>
						</td>
						<td>
							<% order.items[0].forEach((pizza, i) => { %>
								<%- pizza.name + '<br>' %>
							<% }); %>
						</td>
						<td>
							<% order.items[1].forEach((drink, i) => { %>
								<%- drink.name + '<br>' %>
							<% }); %>
						</td>
						<td>
							<%= order.total + ' kn'%>
						</td>
						<td>
							<%= order.dateCreated %>
						</td>
		    		</tr>
	    		<% } %>
  			<% }) %>
	    </tbody>
	</table>

  	<br>
  	<h4><b>Past Orders</b></h4>
  	<table class="table table-hover" style="margin-top: 2%">
	    <thead>
	    	<tr>
				<th>#ID</th>
				<th>Date Finished</th>
		        <th>Pizza</th>
		        <th>Drink</th>
				<th>Total</th>
				<th>Date Created</th>
	      	</tr>
	    </thead>
	    <tbody>
	    	<% orders.forEach((order, i) => { %>
	    		<% if (((user.location && order.location._id == user.location._id) || !user.location) && (order.dateFinished < today)) { %>
		    		<tr>
		    			<td>
							<%= order._id %>
						</td>
						<td>
							<%= order.dateFinished %>
						</td>
						<td>
							<% order.items[0].forEach((pizza, i) => { %>
								<%- pizza.name + '<br>' %>
							<% }); %>
						</td>
						<td>
							<% order.items[1].forEach((drink, i) => { %>
								<%- drink.name + '<br>' %>
							<% }); %>
						</td>
						<td>
							<%= order.total + ' kn'%>
						</td>
						<td>
							<%= order.dateCreated %>
						</td>
		    		</tr>
	    		<% } %>
  			<% }) %>
	    </tbody>
	</table>
</div>
<!--End Content-->
<% include ./footer %>
