<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
    <div class="item">
        <div class="item-title">
            <h2 class="pizza-link" id="<%= pizza.name %>" data-price="<%= pizza.price %>"><%= pizza.name %></h2>
            <div class="border-bottom"></div>
            <span><%= pizza.price %>kn</span>
        </div>
        <p><%= pizza.ingredients %></p>
    </div>
</li>

<script>
    $(function(){
        NodeList.prototype.forEach = Array.prototype.forEach;
        
        $('.pizza-link').on('click', function (e) {
            var pizza = $(e.target).eq(0)
            console.log(pizza);
            var pizza_entry = "";
            pizza_entry = "<div class='row pizza-order'><div class='col-md-4'>" + pizza.attr("id") + "</div><div class='col-md-4'><input  class='form-control' type='number' min='1' name='quantity' value='1'></div><div class='col-md-3 price' style='text-align:right;'>" + pizza.attr("data-price") + "</div><div class='col-md-1'><button class='remove'>x</button></div></div>";
            $( "#order" ).append(pizza_entry);
            $( "#order" ).add(pizza_entry);
            recalculateTotal();
            //$( "#total" ).replaceWith( "<div id='total'>TOTAL: " + total + "</div>" );
            //.attr("data-price");
            //console.log($(e.target).eq(0).attr("data-price"));
        })
        $( "#order" ).on( "change", "input", function(e) {
            recalculateTotal();
            //$( "#total" ).replaceWith( "<div id='total'>TOTAL: " + total + "</div>");
        });
        
        $( "#order" ).on( "click", ".remove", function(e) {
            $(this).closest('.pizza-order').remove();
            recalculateTotal();
            //$( "#total" ).replaceWith( "<div id='total'>TOTAL: " + total + "</div>");
        });
        
        function recalculateTotal () {
            var total = 0
            var pizzas = $('.pizza-order');
            console.log(pizzas.length);
            if (pizzas.length) {
                $('#next').css("display", "block");
            } else {
                $( "#total" ).replaceWith( "<div id='total'>TOTAL: </div>");
                 $('#next').css("display", "none");
                 
                 console.log('makni');
            }
            
            
            for (i = 0; i <	pizzas.length; i++) {
                console.log(pizzas[i]);
                pizzas[i] =  $(pizzas[i]).clone();
                var quantity = Number(pizzas[i].find('input').val());
                var price = Number(pizzas[i].find('.price').text());
                total += quantity * price;
            }

            //pizzas.find('input').val()
            
            //foreach element/pizza with class order-pizza-name and order-pizza-quantity multiply those too and this is the new total
            $( ".total" ).replaceWith( "<div class='total'>TOTAL: " + total + "</div>");
        }
    });
</script>