<% include ./header %>
<% include ./menuSlider %>

<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">our <span>MENU</span> . the <span>PRICE</span></h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Take a look at our drinks menu. <br> Add it to the list by simply clicking on the desired drinks, it will appear at the bottom. You can change the quantity too. When you are done click on next to go to the next page.</p>
                    <div class="pricing-list">
                        <div class="title">
                            <h3><span>Drinks</span></h3>
                        </div>
                        <ul>
                          <% drink.forEach(drink => { %>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="item" data-id="<%= drink._id %>" data-price="<%= drink.price %>" data-name="<%= drink.name %>">
                                    <div class="item-title">
                                        <h2 class="drink-link" id="<%= drink.name %>"><%= drink.name %></h2>
                                        <div class="border-bottom"></div>
                                        <span><%= drink.price %>kn</span>
                                    </div>
                                    <p><%= drink.quantity %>L</p>
                                </div>
                            </li>
                          <% }) %>
                        </ul>
                    </div>
                    <div id="orderHolder" style="display:none">
                      <div class="title">
                          <h3>Your <span>order</span></h3>
                      </div>
                          <div id="order" class="pricing-list" style="padding:0px">

                          </div>
                          <div style="clear:both;"></div>
                          <div style="float:left;font-size:2em;padding-top:2em">
                            <div class="total"><div style="float:left">Total:</div><div id="total" style="float:right;padding-left:1em">0</div></div>
                          </div>
                          <div style="clear:both;"></div>
                          <button id="back" class="btn btn-default" style="float: left">Back</button>
                          <button id="next" class="btn btn-default" style="float: right">Next</button>
                    </div>

                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #price close -->
<div id="hiddenForm" style="display:none"></div>

<% include ./footer %>
<script>
  var orderForm = [];
  var pizzaTotal = 0;
  $(document).ready(function() {
    NodeList.prototype.forEach = Array.prototype.forEach;

    $('.item').on('click', function (event) {
      $(this).parent().hide();
      $('#orderHolder').show();
      $('#order').append(addOrderEntry(this));
      recalcTotal();
    });

    function addOrderEntry (e) {
      var target = e.attributes;
      var name = target['data-name'].value
      var id = target['data-id'].value
      var price = target['data-price'].value;
      orderForm.push({
        name: name,
        id: id,
        price: price,
        quantity: 1
      });
      return entry = '<ul style="padding:0px"><li><div class="item"><div class="item-title" style="width:90%; float:left"><h2 class="pizza-link" id="' + name + '" data-price="100">' + name + '</h2><div class="border-bottom"></div><span>' + price + 'kn</span></div><div style="width:5%;float:left;"><input name="quantity" data-id="' + id + '" value=1 type="number" min="1" max="9" class="form-control" style="margin:0 30%;padding:0 0 0 10%;width:80%;height:80%;"></input></div><div style="width:5%;float:right;" class="removeEntry"><i class="fa fa-close" data-id="' + id + '" style="padding:0 40%"></div></div></ul>';
    }

    function recalcTotal () {
      var total = pizzaTotal;
      $.each(orderForm, function (i, e) {
        total += e.quantity * e.price;
      })
      $('#total').text(total);
    }

    $('#order').on('click', '.fa', function (event) {
      var id = $(this).attr('data-id');
      orderForm = $.grep(orderForm, function (e, i) {
        return e.id !== id;
      });
      $('div[data-id=' + id + ']').parent().show();
      $(this).parents().eq(3).remove();
      recalcTotal();
      if (orderForm.length === 0) $('#orderHolder').hide();
    });

    $('#order').on('change', '[name="quantity"]', function (event) {
      var quantity = $(this).val();
      var id = $(this).attr('data-id');
      if (quantity > 9) return $(this).val(9);
      if (quantity < 1) return $(this).val(1);
      $.each(orderForm, function (i, v) {
        if (v.id === id)
          v.quantity = quantity;
      })
      recalcTotal();
    });

    $('#next').on('click', function (event) {
      var form = $('<form method="POST" action="continue"></form>').appendTo('#hiddenForm');
      $.each(orderForm, function (i, v) {
        $('<input>').attr('name','name').appendTo(form).val(v.name);
        $('<input>').attr('name','id').appendTo(form).val(v.id);
        $('<input>').attr('name','price').appendTo(form).val(v.price);
        $('<input>').attr('name','quantity').appendTo(form).val(v.quantity);
      })
      form.submit();
    });

    function restoreOrder () {
      <% session.forEach((e, i) => { %>
        $('div[data-id="<%= e.id %>"]').trigger("click");
      <% }) %>
      pizzaTotal = <%= total %>
    }
    restoreOrder();
  });
</script>
