<% include ./header %>
<% include ./menuSlider %>

<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">our <span>MENU</span> . the <span>PRICE</span></h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Take a look at our drinks menu. <br> Add it to the list by simply clicking on the desired drinks, it will appear at the bottom. You can change the quantity too. When you are done click on next to go to the next page.</p>
                    <div class="pricing-list">
                        <div class="title">
                            <h3><span>Drinks</span></h3>
                        </div>
                        <ul>
                          <% drink.forEach(drink => { %>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2 class="drink-link" id="<%= drink.name %>" data-price="<%= drink.price %>"><%= drink.name %></h2>
                                        <div class="border-bottom"></div>
                                        <span><%= drink.price %>kn</span>
                                    </div>
                                    <p><%= drink.quantity %>L</p>
                                </div>
                            </li>
                          <% }) %>
                        </ul>
                    </div>
                    <form id="form" method="POST" action="/continue">
                        <div id="order">
                            
                        </div>
                        <div class="total"></div>
                        <button id="next" class="btn btn-default" type="submit" style="display:none">Next</button>
                    </form>
                    
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #price close -->

<% include ./footer %>
<script>
    $(function(){
        NodeList.prototype.forEach = Array.prototype.forEach;
        
        $('.drink-link').on('click', function (e) {
            //PROVJERA DA LI VEC POSTOJI TO PICE, AKO DA - samo quantity povecat
            var drink = $(e.target).eq(0)
            var drink_entry = "<div class='row drink-order'><div class='col-md-4'>" + drink.attr("id") + "</div><div class='col-md-4'><input  class='form-control' type='number' min='1' name='quantity' value='1'></div><div class='col-md-3 price' style='text-align:right;'>" + drink.attr("data-price") + "</div><div class='col-md-1'><button class='remove'>x</button></div></div>";
            drink_entry += "<input type='hidden' name='id' value='"+drink.attr("data-db-id")+"'/>";
            $( "#order" ).append(drink_entry);
            recalculateTotal();
        })
        $( "#order" ).on( "change", "input", function(e) {
            recalculateTotal();
        });
        
        $( "#order" ).on( "click", ".remove", function(e) {
            $(this).closest('.drink-order').remove();
            recalculateTotal();
            //$( "#total" ).replaceWith( "<div id='total'>TOTAL: " + total + "</div>");
        });
        
        function recalculateTotal () {
            var total = 0
            var drinks = $('.drink-order');
            console.log(drinks.length);
            if (drinks.length) {
                $('#next').css("display", "block");
            } else {
                //total se nece izbrisat ne znan zasto
                $( ".total" ).replaceWith( "<div class='total'></div>");
                 $('#next').css("display", "none");
                 
                 console.log('makni');
            }
            
            
            for (i = 0; i <	drinks.length; i++) {
                console.log(drinks[i]);
                drinks[i] =  $(drinks[i]).clone();
                var quantity = Number(drinks[i].find('input').val());
                var price = Number(drinks[i].find('.price').text());
                total += quantity * price;
            }

            //pizzas.find('input').val()
            
            //foreach element/pizza with class order-pizza-name and order-pizza-quantity multiply those too and this is the new total
            $( ".total" ).replaceWith( "<div class='total'>TOTAL: " + total + "</div>");
        }
    });
</script>

