<% include ./header %>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<form method="POST" action="/profile">
				<input  type="hidden" name="id" value="<%= results[0]._id %>">
				<div class="form-group">
					<label>First Name</label>
					<input class="form-control" type="text" name="firstName" value="<%= results[0].firstName %>">
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input class="form-control" type="text" name="lastName" value="<%= results[0].lastName %>" >
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input class="form-control" type="text" name="phone" value="<%= results[0].phone %>" >
				</div>
				<div class="form-group">
					<label>Address</label>
					<input class="form-control" type="text" name="address" value="<%= results[0].location.address %>" >
				</div>
				<div class="form-group">
					<label>City</label>
					<input class="form-control" type="text" name="city" value="<%= results[0].location.city %>" >
				</div>
				<div class="form-group">
					<label>Zip Code</label>
					<input class="form-control" type="text" name="zipCode" value="<%= results[0].location.zipCode %>" >
				</div>
				<button class="btn btn-default">Update</button>
			</form>
			<a href="/changePassword">Change Password</a>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">My orders</div>
			  <div class="panel-body">
			    <% if (orders.length === 0) { %>
						You have no orders yet!
						<a href="menu" class="btn btn-default" style="width:100%;margin-top:5%">Order now</a>
					<% } else { %>
						<% orders.forEach((e, i) => { %>
							<% if (i < 3) { %>
								<% if (i > 0) { %>
									<%- '<hr>' %>
								<% } %>
								<%- '<b>' + 'Order: #' + e._id + '</b><br>'%>
								<%- 'Date: ' + moment(e.dateCreated).format('DD-MM-YYYY') + '<br>'%>
								<% var remaining = moment(e.dateFinished).diff(moment(), 'minutes'); %>
								<% var status = ''; %>
								<% if (remaining > 60) {status = 'Pending'} %>
								<% if (remaining < 60) {status = 'Preparing'} %>
								<% if (remaining < 0) {status = 'Complete'} %>
								<%- 'Status: ' + status + '<br>'%>

								<%- 'Pizza: ' %>
								<% e.items[0].forEach((pizza) => { %>
									<%- pizza.name + ' ' %>
								<% }) %>
								<%- '<br>'%>

								<%- 'Drink: ' %>
								<% e.items[1].forEach((drink) => { %>
									<%- drink.name + ' ' %>
								<% }) %>
								<%- '<br>'%>

								<%- 'Total: ' + e.total + 'kn <br>'%>
						<% }}) %>
						<a href="myOrders" class="btn btn-default" style="width:100%;margin-top:5%">All orders</a>
					<% } %>
			  </div>
			</div>
		</div>
	</div>
</div>

<% include ./footer %>
